@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#pagepiling .section {
    text-align: center;
}

#pagepiling .section h2 {
    color: #fff;
    font-size: 10em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    line-height: 1em;
}

#pagepiling .section.sec1 {
    background: url(../images/1.jpg);
    background-size: cover;
}

#pagepiling .section.sec2 {
    background: url(../images/2.jpg);
    background-size: cover;
}

#pagepiling .section.sec3 {
    background: url(../images/3.jpg);
    background-size: cover;
}

#pagepiling .section.sec4 {
    background: url(../images/4.jpg);
    background-size: cover;
}

#pagepiling .section.sec5 {
    background: url(../images/5.jpg);
    background-size: cover;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background-color: #fff;
}